$font-size	= 16px
$maincolor	= green
$font		= Arial, sans-serif

@font-face
    font-family 'PFSquareSansProMedium'
    src: url('../font/pfsquaresanspro-medium-webfont.eot');
    src: url('../font/pfsquaresanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pfsquaresanspro-medium-webfont.woff') format('woff'),
         url('../font/pfsquaresanspro-medium-webfont.ttf') format('truetype'),
         url('../font/pfsquaresanspro-medium-webfont.svg#PFSquareSansProMedium') format('svg')
    font-weight normal
    font-style normal

*
	-webkit-box-sizing: border-box // Safari/Chrome, other WebKit
	-moz-box-sizing: border-box    // Firefox, other Gecko
	box-sizing: border-box        // Opera/IE 8+

html
	height 100%

body
	font-size $font-size
	font-family $font
	height 100%
	color #333

a
	color $maincolor 