html
	height 100%

body
	font-size $font-size
	font-family $font
	height 100%
	color #333

a
	color $maincolor
	text-decoration none
	
	&:hover
		text-decoration underline

// Common style
.clearfix
	clearfix()