/*
*	Main settings
*	by talgautb
*/

// font
$font-size	= 16px
$maincolor	= green
$font		= Arial, sans-serif
$fontPath	= '../fonts/'

// not standart font 
//usefont('PFSquareSansProMedium', PFSquareSansProMedium) // font('font-family', 'file_name')

// use css for ie8+, use PIE
$ie = true

// Grid
$mainwidth 	= 960px
$sidebar-width = 215px