// for tablets
// http://www.gtalk.kz/css-snippents/media-queries-for-standard-devices.html

//@media screen and (min-width: 768px) and (max-width: 1024px)

//@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait)