// css3 from https://github.com/jney/stylus-mixins/tree/master/mixins
border-radius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	-khtml-border-radius arguments
	border-radius arguments
	if $ie
		behavior unquote('url("../PIE.htc")')