// cross opacity
opacity(n)
	if n!= 0
		-moz-opacity n
		-khtml-opacity n
		opacity n
		if $ie
			-ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity='+n*100+')"')
			filter unquote('alpha(opacity='+n*100+')')
	else
		opacity 0