/*
* Main settings
*/

// font
$font-size   = 16px
$font        = Arial, sans-serif
$fontPath    = '../fonts/'

// colors
$maincolor   = blue

// img
$imgPath     = '../img/'

// not standart font 
//usefont('PFSquareSansProMedium', PFSquareSansProMedium) // font('font-family', 'file_name')

// Grid
$mainWidth    = 960px
$sidebarWidth = 215px