//@import 'nib'

// level to upload files

// normalize
@import 'reset'

// for the first config project
@import 'config'

// use mixins
@import 'lib/*'

// grid
@import 'grid/*'

// main style
@import 'common'

// import all blocks in site
@import 'blocks/**/*'

// if rwd
@import 'responsive/*'