// level to upload files

// normalize from bower
@import '../libs/normalize.css/normalize.css'

// for the first config project
@import 'config'

// use mixins
@import 'lib/*'

// use common.blocks
@import 'common.blocks/**/*'

// import all blocks in site
@import 'blocks/**/*'