font_rem(value)
  font-size: value
  if value is inherit
    //nothing to do
  else
    font-size: remify(value)

remify(value)
  u = unit(value)
  
  // $font-size - config.styl == 16 default
  if (u is 'px')
    return unit(value/$font-size, 'rem')
  else
    return unit(value, u)


rem(value)
  if (u)
    return (value/$font-size)rem
  // u = unit(value)
  
  // // $font-size - config.styl == 16 default
  // if (u)
  //   return unit(value/$font-size, 'rem')