/*
* Stylus configuration
*
* 1rem = 10px
* Naming by BEM.
*/

// $font
$font__size          = 1.6rem
$font__family        = 'Open Sans', sans-serif
$font__family--aux   = 'Roboto', sans-serif

// $color
$color__brand          = #257366
$color__error          = #ec5840

$color__link           = #fff
$color__link--hover    = #ccc
$color__link--active   = #fff


// $path
$path__media = '../img/'
$path__fonts = '../fonts/'
