mixin head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title My Template
  link(rel='icon', href='')
  link(rel='apple-touch-icon', href='')
  meta(property='fb:app_id', content='')
  meta(property='fb:admins', content='')
  meta(name='twitter:site', content='')
  meta(name='twitter:card', content='summary')
  meta(property='og:site_name', content='')
  meta(property='og:title', content='')
  meta(itemprop='name', content='')
  meta(property='og:url', content='')
  meta(itemprop='url', content='')
  meta(property='og:image', content='')
  link(rel='image_src', href='')
  meta(itemprop='image', content='')
  meta(property='og:description', content='')
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(property='og:type', content='')
  meta(itemprop='description', content='')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic-ext")
  link(href='styles/main.css', rel="stylesheet")

mixin scripts
  script(src='/js/main.js')
