// Test
test()
  border: 1px solid red

// Typography

// for title h1-h6
h()
  font-weight 500
  font-family inherit

for x in 0..5
  .h{x+1}
    h()

// use ... on line
threedots()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  display block

// for list
nolist()
  list-style none
  padding 0
  margin 0

// hide block from h5bp
.hidden
  border 0
  clip rect(0 0 0 0)
  size(1px)
  margin -1px
  overflow hidden
  padding 0
  position absolute

clearfix()
  &::before,
  &::after
    content: ''
    display: table

  &::after
    clear: both

// For IE9+
img
  border: 0

.is--hidden
  display: none

.is--overflow_hidden
  overflow: hidden
